<section class="mainpage">
    <div class="navbar">

    </div>
    <div class="container">
        <div class="mainblock">
            <div class="header">
                <p class="searcher">Натисніть для пошуку</p>
            </div>
            <div class="cards-section">
                <ul class="cards">
                    <li class="categories-wrap">
                        <a href="" class="card">
                            <div class="categories">
                                <h4>Класи</h4>
                            </div>
                        </a>
                    </li>
                    <li class="categories-wrap">
                        <a href="" class="card">
                            <div class="categories">
                                <h4>Раси і походження</h4>
                            </div>
                        </a>
                    </li>
                    <li class="categories-wrap">
                        <a href="" class="card">
                            <div class="categories">
                                <h4>Риси</h4>
                            </div>
                        </a>
                    </li>
                    <li class="categories-wrap">
                        <a href="" class="card">
                            <div class="categories">
                                <h4>Особливості класів</h4>
                            </div>
                        </a>
                    </li>
                    <li class="categories-wrap">
                        <a href="" class="card">
                            <div class="categories">
                                <h4>Передісторії</h4>
                            </div>
                        </a>
                    </li>
                    <li class="categories-wrap">
                        <a href="" class="card">
                            <div class="categories">
                                <h4>Заклинання</h4>
                            </div>
                        </a>
                    </li>
                    <li class="categories-wrap">
                        <a href="" class="card">
                            <div class="categories">
                                <h4>Зброя</h4>
                            </div>
                        </a>
                    </li>
                    <li class="categories-wrap">
                        <a href="" class="card">
                            <div class="categories">
                                <h4>Обладунки</h4>
                            </div>
                        </a>
                    </li>
                    <li class="categories-wrap">
                        <a href="" class="card">
                            <div class="categories">
                                <h4>Спорядження</h4>
                            </div>
                        </a>
                    </li>
                    <li class="categories-wrap">
                        <a href="" class="card">
                            <div class="categories">
                                <h4>Магічні предмети</h4>
                            </div>
                        </a>
                    </li>
                    <li class="categories-wrap">
                        <a href="" class="card">
                            <div class="categories">
                                <h4>Бестіарій</h4>
                            </div>
                        </a>
                    </li>
                    <li class="categories-wrap">
                        <a href="" class="card">
                            <div class="categories">
                                <h4>Ширма</h4>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="blocks"></div>
        </div>
    </div>
</section>