<section class="mainpage">
    <div class="navbar"></div>
    <div class="container">
        <div class="mainblock">
            <div class="header">
                <p class="searcher">Натисніть для пошуку</p>
            </div>
            <div class="cards-section">
                <ul class="cards">
                    <li class="categories-wrap">
                        <a href="" class="card">
                            <div class="categories">
                                <h4>Категорія</h4>
                            </div>
                        </a>
                    </li>
                    <li class="categories-wrap">
                        <a href="" class="card">
                            <div class="categories">
                                <h4>Категорія</h4>
                            </div>
                        </a>
                    </li>
                    <li class="categories-wrap">
                        <a href="" class="card">
                            <div class="categories">
                                <h4>Категорія</h4>
                            </div>
                        </a>
                    </li>
                    <li class="categories-wrap">
                        <a href="" class="card">
                            <div class="categories">
                                <h4>Категорія</h4>
                            </div>
                        </a>
                    </li>
                    <li class="categories-wrap">
                        <a href="" class="card">
                            <div class="categories">
                                <h4>Категорія</h4>
                            </div>
                        </a>
                    </li>
                    <li class="categories-wrap">
                        <a href="" class="card">
                            <div class="categories">
                                <h4>Категорія</h4>
                            </div>
                        </a>
                    </li>
                    <li class="categories-wrap">
                        <a href="" class="card">
                            <div class="categories">
                                <h4>Категорія</h4>
                            </div>
                        </a>
                    </li>
                    <li class="categories-wrap">
                        <a href="" class="card">
                            <div class="categories">
                                <h4>Категорія</h4>
                            </div>
                        </a>
                    </li>
                    <li class="categories-wrap">
                        <a href="" class="card">
                            <div class="categories">
                                <h4>Категорія</h4>
                            </div>
                        </a>
                    </li>
                    <li class="categories-wrap">
                        <a href="" class="card">
                            <div class="categories">
                                <h4>Категорія</h4>
                            </div>
                        </a>
                    </li>
                    <li class="categories-wrap">
                        <a href="" class="card">
                            <div class="categories">
                                <h4>Категорія</h4>
                            </div>
                        </a>
                    </li>
                    <li class="categories-wrap">
                        <a href="" class="card">
                            <div class="categories">
                                <h4>Категорія</h4>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="blocks"></div>
        </div>
    </div>
</section>